/* main.css */

@media (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 5px;
    }


}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    .flexbox {
        margin: auto;
        width: 80dvw;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 18px;
        padding: 15px;
    }

    .flexbox {
        margin: auto;
        width: 75dvw;
    }
}

:root {
    --main-font-family: "Roboto";
    --main-background-color: #FFFFFF;
    --primary-color: #5A67D8;
    --secondary-color: #E0E0E0;
    --accent-color: #F8F9FA;
    --text-color: #222222;
}

.light-theme {
    --main-font-family: "Roboto";
    --main-background-color: #FFFFFF;
    --primary-color: #5A67D8;
    --secondary-color: #E0E0E0;
    --accent-color: #F8F9FA;
    --text-color: #222222;
}

.dark-theme {
    --main-background-color: #0D0D0D;
    --primary-color: #1E1E2E;
    --secondary-color: #4A90E2;
    --accent-color: #76EEC6;
    --text-color: #EAEAEA;
}

.retro-theme {
    --main-font-family: 'RusticShine';
    --main-background-color: #121212;
    --primary-color: #6A0DAD;
    --secondary-color: #FF007F;
    --accent-color: #00F0FF;
    --text-color: #FAFAFA;
}

.luxury-theme {
    --main-font-family: 'Cinzel';
    --main-background-color: #F5F5F5;
    --primary-color: #8B0000;
    --secondary-color: #1A237E;
    --accent-color: #FFD700;
    --text-color: #FAFAFA;
}

html,
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--main-background-color, white);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: var(--main-font-family, "Arial");
    color: var(--text-color, black);
    overflow-x: hidden;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "RusticShine";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/RusticShine/RusticShine.ttf") format("truetype");
}
@font-face {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Cinzel/static/Cinzel-Regular.ttf") format("truetype");
}

/** header **/
header {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 7.5vh;
    display: flex;
    background-color: var(--primary-color, lightskyblue);
    color: var(--text-color, white);
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box;
}

nav {
    align-content: center;
    font-size: large;
}

#theme-selector {
    display: none;
}

a:link, a:visited {
    color: var(--text-color, black);
}

a:hover {
    color: var(--accent-color, white);
}

.header-nav-theme-box {
    display: flex;
    gap: 20px;
}

/** flexbox in main **/

main {
    text-align: center;
    font-family: var(--main-font-family, "Arial");
}

main h1 {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 5dvh;
    padding: 5px 0 5px 2%;
    background-color: var(--secondary-color, white);
    align-content: center;
    text-align: left;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75vh;
    gap: 30px;
    height: 75%;
    width: 98%;
    align-items: center;
    justify-items: center;
    margin: 2% 1%;
    box-sizing: border-box;
}

.home-card {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color, lightskyblue);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% 15% 15%;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    color: var(--text-color, black);
}

.home-grid a {
    text-decoration: none;
    color: var(--text-color, black);
    transition: transform 0.2s ease-in-out;
}

.home-grid a:hover {
    color: var(--accent-color, #F8F9FA);
    transform: scale(1.02);
}

.portfolio-container {
    width: 100%;
    display: flex;
    background-color: var(--main-background-color, white);
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}

.portfolio-nav {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 0 1% 2%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.portfolio-headers {
    padding: 0.5% 2%;
    text-align: left;
    width: 100%;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    grid-column: span 2;
}

.portfolio-resume-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-resume-card {
    width: 100%;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1% 2%;
}

.portfolio-project-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    gap: 10px;
}

.portfolio-project-card {
    width: 92.5%;
    height: 95%;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    padding: 0 1%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% 10% 20%;
    text-align: center;
    margin: 0 2%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.portfolio-project-card picture {
    display: flex;
    justify-content: center;
}

.portfolio-project-card img {
    max-width: 75%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border: 5px solid var(--accent-color, #F8F9FA);
}

#pantrypal {
    max-width: 60%;
}

.about-main {
    background-color: var(--main-background-color, white);
}

.about-container {
    display: grid;
    padding: 2% 0 0 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color, black);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 75%);
    gap: 50px;
    margin-bottom: 2%;
}

.about-card {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    text-align: left;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background-color: var(--secondary-color, white);
    padding: 5px 2%;
}

.about-card picture {
    display: flex;
    justify-content: center;
}

.about-card img {
    max-width: 75%;
    max-height: 50%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border: 5px solid var(--accent-color, #F8F9FA);
}

.contact-container {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    background-color: var(--main-background-color, white);
    gap: 50px;
    margin-bottom: 2%;
    box-sizing: border-box;
    color: var(--text-color, black);
    padding: 1% 0;
}

.contact-socials {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    text-align: left;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    padding: 0 0 1% 2%;
}

.contact-message {
    height: 100%;
    width: 100%;
    padding-left: 2%;
    background-color: var(--secondary-color, lightskyblue);
    color: var(--text-color, black);
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 90%;
    gap: 10px;
}

input {
    width: 85%;
    height: 25px;
}

.name-email {
    width: 60%;
    height: 25px;
}

textarea {
    width: 85%;
    height: 50%;
}

fieldset {
    border-width: 0;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

label.optional {
    font-weight: italic;
}

output.info {
    font-size: small;
    font-style: italic;
}

input:user-invalid {
    border: 2px solid red;
}
input:user-invalid + span::before {
    content: " invalid input";
    color: red;
}

input:user-valid {
    border: 2px solid rgb(27, 141, 27);
}

textarea:user-invalid {
    border: 1px solid red;
}

textarea {
    border: 1px solid gray;
}

.box {
    color: black;
    margin: 1.25em
}

picture:not(:has(img)) {
    display: none;
}

img {
    align-self: flex-end;
    object-fit: cover;
    object-position: right top;
}

.error {
    color: red;
}

.submitted {
    color: rgb(27, 141, 27);
}

button {
    background-color: var(--accent-color, white);
    color: var(--text-color, black);
    border-radius: 10px;
    border-color: var(--accent-color, white);
    transition: ease-in-out 0.3s;
    padding: 10px 20px;
    font-style: bold;
}

button:hover {
    transform: scale(1.1);
}

/** footer **/
footer {
    font-size: small;
    text-align: center;
    background-color: var(--primary-color, white);
    color: var(--text-color, black);
    margin-bottom: 0;
}